Ano_2/ID/TP/paises.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Paises">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pais" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="capital" type="xs:string"/>
              <xs:element name="continente" type="xs:string"/>
              <xs:element name="bandeira" type="xs:string"/>
              <xs:element name="linguasOficiais">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="lingua" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="area" type="xs:integer"/>
              <xs:element name="populacao" type="xs:integer"/>
              <xs:element name="densidade" type="xs:decimal"/>
              <xs:element name="religioes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="religiao" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="cidadesImportantes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cidade" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="paisesFronteira">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="paisFronteira" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="casosCovid" type="xs:integer"/>
            </xs:sequence>
            <xs:attribute name="nome" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
